<h4>Deletar conta: </h4>
<div class="card">
    <div class="card-body">
        <form action="/deletar" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control" placeholder="Confirme seu nome">
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" placeholder="Confirme sua senha">
            <button type="submit" class="btn btn-outline-danger mt-3">Deletar</button>
        </form>
    </div>
</div>